.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    .content{
            display: flex;
            
            // background-color: red;
            
            align-items: center;
            flex-direction: column;
            width: 88vw;
            height: 100%;
            
        .add_button{
            display: inline;
            width: 100%;
            margin-bottom: 5%;
            .add{
                display: inline;
                
                float: right;
                color: $green;
                border: 5px solid $green;
                background-color: none;
                font-size: 24px;
                font-weight: bold;
                padding: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 10px;
                &:hover{
                    background-color: $green;
                    color: $bg-color;            
                }
            }
        }
        
        
    }
}